<div ng-controller='HeaderController'>

	
		
	<div layout="row" layout-align="center center">
		<div id="title" class="md-display-1">Phylogenetic Tree Games</div>

	</div>
		

	

	

	<div class = "game_select" layout="row" layout-align="space-around center">
	  <md-button ng-click = "startparsimony()" class="md-raised md-primary">Maximum Parsimony Method</md-button>
	  <md-button nd-disabled="true" ng-click = "startupgma()" class="md-raised md-primary">UPGMA Algorithm</md-button>
	  <md-button nd-disabled="true" ng-click = "startneighbor()" class="md-raised md-primary">Neighbor-Join Method</md-button>
	</div>

</div>
